common/push-listener/core/src/test/resources/data/com/funambol/pushlistener/service/dao/RegistryDao/dataset.dtd

<!ELEMENT dataset (
    FNBL_PUSH_REGISTRY_BASIC*,
    FNBL_PUSH_REGISTRY_USERNAME*,
    FNBL_PUSH_REGISTRY_COMPLEX*,
    FNBL_ID*)>

<!ELEMENT FNBL_PUSH_REGISTRY_BASIC EMPTY>
<!ATTLIST FNBL_PUSH_REGISTRY_BASIC
    id             CDATA #REQUIRED
    period         CDATA #IMPLIED
    active         CDATA #IMPLIED
    last_update    CDATA #IMPLIED
    status         CDATA #IMPLIED
    task_bean_file CDATA #IMPLIED
>

<!ELEMENT FNBL_PUSH_REGISTRY_USERNAME EMPTY>
<!ATTLIST FNBL_PUSH_REGISTRY_USERNAME
    id             CDATA #REQUIRED
    period         CDATA #IMPLIED
    active         CDATA #IMPLIED
    last_update    CDATA #IMPLIED
    status         CDATA #IMPLIED
    task_bean_file CDATA #IMPLIED
    USERNAME       CDATA #IMPLIED
>



<!ELEMENT FNBL_PUSH_REGISTRY_COMPLEX EMPTY>
<!ATTLIST FNBL_PUSH_REGISTRY_COMPLEX
    id              CDATA #REQUIRED
    period          CDATA #IMPLIED
    active          CDATA #IMPLIED
    last_update     CDATA #IMPLIED
    status          CDATA #IMPLIED
    task_bean_file  CDATA #IMPLIED
    VAR_FIELD       CDATA #IMPLIED
    OLD_BOOL_FIELD  CDATA #IMPLIED
    BOOL_FIELD      CDATA #IMPLIED
    LONG_FIELD      CDATA #IMPLIED
    DECIMAL_FIELD   CDATA #IMPLIED
    DOUBLE_FIELD    CDATA #IMPLIED
    INTEGER_FIELD   CDATA #IMPLIED
    DATE_FIELD      CDATA #IMPLIED
    TIME_FIELD      CDATA #IMPLIED
    TIMESTAMP_FIELD CDATA #IMPLIED
>   

     
<!ELEMENT FNBL_ID EMPTY>
<!ATTLIST FNBL_ID
    IDSPACE      CDATA #REQUIRED
    COUNTER      CDATA #IMPLIED
    INCREMENT_BY CDATA #IMPLIED
>