modules/foundation/pim-listener/src/test/resources/data/com/funambol/pimlistener/service/PimTask/dataset-user.dtd

<!ELEMENT dataset (
    FNBL_PIM_CONTACT,
    FNBL_PIM_CALENDAR,
    FNBL_PIM_NOTE*)>

<!ELEMENT FNBL_PIM_CONTACT EMPTY>
<!ATTLIST FNBL_PIM_CONTACT
    id CDATA #REQUIRED
    userid CDATA #IMPLIED
    last_update CDATA #IMPLIED
    first_name CDATA #IMPLIED
>

<!ELEMENT FNBL_PIM_CALENDAR EMPTY>
<!ATTLIST FNBL_PIM_CALENDAR
    id CDATA #REQUIRED
    userid CDATA #IMPLIED
    last_update CDATA #IMPLIED
    type CDATA #IMPLIED
    dstart CDATA #IMPLIED
    dend CDATA #IMPLIED
>

<!ELEMENT FNBL_PIM_NOTE EMPTY>
<!ATTLIST FNBL_PIM_NOTE
    id CDATA #REQUIRED
    userid CDATA #IMPLIED
    last_update CDATA #IMPLIED
    subject CDATA #IMPLIED
>